---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
	<h2>Social Media und co :3</h2>
    <a target="_blank" href="https://en.pronouns.page/@emilycatgirl161">Pronouns Page</a><br />
	<a target="_blank" href="https://www.threads.com/@emilycatgirl161">Threads</a><br />
    <a target="_blank" href="https://www.instagram.com/emilycatgirl161">Instagram</a><br />
	<a target="_blank" rel="me" href="https://uwu.social/@emilycatgirl">Mastodon</a><br />
    <a target="_blank" href="https://steamcommunity.com/id/emilycatgirl161/">Steam</a><br />
	<a target="_blank" href="https://www.youtube.com/@emilycatgirl161">YouTube</a><br />
	</div>
</Layout>

<style>
div {
	font-family: Arial;
	max-width: 500px;
	margin: auto;
	padding: 0 2em;
}
h2,
	h3 {
		margin: 0.5em 0;
	}
</style>
