---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
	<h2>Social Media und co :3</h2>
    <a target="_blank" href="https://pronouns.cc/@emily.catgirl">pronouns.cc</a><br />
	<a target="_blank" href="https://www.amazon.de/hz/wishlist/ls/2PAFUN3Z5MAMW?ref_=wl_share">Amazon Wishlist</a><br />
	<a target="_blank" href="https://www.threads.com/@emily.catgirl">Threads</a><br />
    <a target="_blank" href="https://www.instagram.com/emily.catgirl">Instagram</a><br />
	<a target="_blank" href="https://traewelling.de/@emilycatgirl">Träwelling</a><br />
	<a target="_blank" rel="me" href="https://uwu.social/@emilycatgirl">Mastodon</a><br />
    <a target="_blank" href="https://steamcommunity.com/id/emilycatgirl/">Steam</a><br />
	<a target="_blank" href="https://www.youtube.com/@emilycatgirl">YouTube</a><br />
	<a target="_blank" href="https://myanimelist.net/profile/emilycatgirl">MyAnimeList</a><br />
	<a target="_blank" href="https://tidal.com/@emilycatgirl">Tidal</a><br />
	<a target="_blank" href="https://bandcamp.com/emilycatgirl">Bandcamp</a><br />
	<a target="_blank" href="https://www.twitch.tv/emilycatgirl_">Twitch</a><br />
	</div>
</Layout>

<style>
div {
	font-family: Arial;
	max-width: 500px;
	margin: auto;
	padding: 0 2em;
}
h2,
	h3 {
		margin: 0.5em 0;
	}
</style>
