---
import logo from "../assets/Logo.png";
import { Image } from "astro:assets";
---

<div>
    <Image src={logo} alt="EmilyCatgirl Logo" height={69} />
</div>
<style>
    div {
        margin: 2em auto;
        width: max-content;
    }
</style>
